.alert_Calendar {
    position: fixed;
    left:0;
    bottom:0;
    width: 100%;
    padding: 0px 10px;
    z-index: 20000;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.container-schedule {
    position: fixed;
    right: 0px;
    bottom: 0px;
    padding: 010px;
    z-index: 20000;
}

.btn-add-schedule {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.icon-form {
    margin-right: 10px;
}
.row-form {
    margin: 0px 10px;
}
.btns-container{
    padding: 0px;
}
.btns-form:hover {
    background-color: white;
}
.btns-form:active {
    background-color: white;
}
.label-form {
    padding: 0px;
}