.w3-container{padding:0.01em 16px}

.w3-container:after,.w3-container:before{content:"";display:table;clear:both}

.w3-invisible{
    display: none;
}

.w3-visible{
    display: block;
}

.w3-bar-block{
    width:100%;
    min-width:100%;
    text-align:left;
    padding:8px 16px;
    padding:8px 16px;
    border:none;
    white-space:normal;
    float:none;
    outline:0;
}

.w3-bar-block.w3-center{
    text-align:center
}

@media (min-width:993px){
    .w3-sidebar.w3-collapse{display:block!important}
}

@media (max-width:992px){
    .w3-sidebar.w3-collapse{display:none}
}


.w3-animate-left{position:relative;animation:animateleft 0.4s}
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}